@model WebConDocs.Clases.clsPersona

@{
    ViewData["Title"] = "Editar";
    List<SelectListItem> ListaSexos = ViewBag.listaSexos;
}

<h1>Editar</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar" asp-controller="Persona">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="iidPersona" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
                @if (Model != null && (!string.IsNullOrEmpty(Model.MensajeError)))
                {
                    <p class="text-danger">@Model.MensajeError</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="aPaterno" class="control-label"></label>
                <input asp-for="aPaterno" class="form-control" />
                <span asp-validation-for="aPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aMaterno" class="control-label"></label>
                <input asp-for="aMaterno" class="form-control" />
                <span asp-validation-for="aMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
                @if (Model != null && (!string.IsNullOrEmpty(Model.MensajeErrorEmail)))
                {
                    <p class="text-danger">@Model.MensajeErrorEmail</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoFijo" class="control-label"></label>
                <input asp-for="telefonoFijo" class="form-control" />
                <span asp-validation-for="telefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoCelular" class="control-label"></label>
                <input asp-for="telefonoCelular" class="form-control" />
                <span asp-validation-for="telefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label"></label>
                <input asp-for="fechaNacimiento" class="form-control"/>
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iidSexo" class="control-label"></label>
                <select asp-for="iidSexo" class="form-control" asp-items="@ListaSexos"></select>
                <span asp-validation-for="iidSexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a  class="btn btn-danger" asp-action="Index" asp-controller="Persona">Regresar</a>
            </div>
        </form>
    </div>
</div>